


<script id="search_result_template" type="text/x-handlebars-template">
{{#each search_results}}
<a class="list-group-item" href="/users/<%= current_user.id %>/edit?gym[name]={{name}}&gym[address]={{location.address}}&gym[yelp_id]={{id}}"><strong>{{name}}</strong> - {{location.address}}, {{location.city}}, {{location.state_code}} {{location.postal_code}}</a>
{{/each}}
</script>




<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="icon">
        <%= image_tag 'fitness1.svg' %>
      </div>
      <div class="spotter">
        Spotter
      </div>

    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Profile</a></li>
        <li><a href="#about">Matches</a></li>
        <li><a href="#contact">Gyms</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> <img class="profile_thumbnail" src="http://graph.facebook.com/<%= current_user.uid %>/picture?type=large" alt="Profile Picture"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.first_name %> <%= current_user.last_name %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Edit Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<% if current_user.gyms.count == 0 %>

<div class="search container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for gyms...">
        <span class="input-group-btn">
          <button id="gym-search" class="btn btn-default" type="button">Search</button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 id="search-results-header" class="panel-title">Gyms near you</h3>
        </div>
        <div class="near_you_results list-group">
          <span class="list-group-item">Searching...
            <%= image_tag 'loading.gif', size: "16"%>
          </span>

        </div>

      </div>
    </div>
  </div>
</div>

<% else %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= current_user.gyms.first.name %></h3>
        </div>
        <div class="panel-body">
          <%= current_user.gyms.first.address %>
        </div>
      </div>
    </div>
    <% @unswiped_users.shuffle.each do |user| %>
    <div class="col-md-6">
      <div id="<%= user.id %>" class="member_container outline">
        <% if user.provider == "facebook" %>
        <img src="http://graph.facebook.com/<%= user.uid %>/picture?type=large" alt="Profile Picture">
        <% else %>
        <img src="<%= user.thumbnail_link %>" alt="">
        <% end %>
        <h3><%= user.first_name %></h3>

        <div class="text-left">
          <div class="panel panel-default">
            <div class="panel-heading"><%= user.gyms.first.name %></div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>

        <%= form_for :swipe do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :swipee_id, :value => user.id %>
        <%= f.hidden_field :like, :value => false %>
        <%= button_tag(type: 'submit', class: "no choice btn btn-danger") do %>
        <div class="glyphicon glyphicon-remove"></div>
        <% end %>
        <% end %>

        <%= form_for :swipe do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :swipee_id, :value => user.id %>
        <%= f.hidden_field :like, :value => true %>
        <%= button_tag(type: 'submit', class: "yes choice btn btn-success") do %>
        <div class="glyphicon glyphicon-ok"></div>
        <% end %>
        <% end %>


      </div>
    </div>
    <% end %>
  </div>
</div>
</div>




<% end %>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">It's a match!</h4>
      </div>
      <div class="modal-body text-center">
        <img id="modal_image" src="" alt="Profile Picture">
        <h3 id="modal_user_name"></h3>

        <div class="text-left">
          <div class="panel panel-default">
            <div id="modal_gym_name"class="panel-heading"></div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="modal_message_button"type="button" class="btn btn-primary"></button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Keep Looking</button>
      </div>
    </div>
  </div>
</div>


