


<div class="profile_container">

  <div class="main_panel">

    <% @all_users.each do |user| %>
      <% unless user == current_user %>
        <div class="partner_profile"><%= user.name %></div>
      <% end   %>
    <% end %>


  </div>

  <div class="navigation_container">
  <div class="nav_bar">
    <div class="icon">
      <img src="../assets/fitness1.svg" alt="">
    </div>
    <div class="spotter">
      Spotter
    </div>

    <div class="button">
      <a href="">FIND</a>
    </div>

    <div class="button">
      <a href="">GYM</a>
    </div>

    <div class="button">
      <a href="">BUTTON</a>
    </div>


    <div class="button">
      <a href="">BUTTON</a>
    </div>

    <div class="button_box">

      <%= current_user.name %><%= button_to "Sign Out", signout_path, :class => "btn btn-default", :method => :get  %>
      <!-- <div class="sign_out_button btn btn-default" data-type="login">Log Out</div> -->

    </div>

  </div>

</div>
<!--   <div class="top_bar">
    <div class="profile_tab">BUTTON</div>
    <div class="profile_tab">BUTTON</div>
    <div class="profile_tab">BUTTON</div>
    <div class="profile_tab">BUTTON</div>
  </div> -->

  <div class="side_bar">
    <div class="picture_container">
      <!-- <img class="profile_picture" src="/assets/profile.svg" alt=""> -->
      <img class="profile_picture" src="http://graph.facebook.com/<%= current_user.uid %>/picture?type=large" alt="Profile Picture">

    </div>

    <div class="info_container">
      <div>
        Name: <%= current_user.name %>
      </div>
      <div>
        Email: <%= current_user.email %>
      </div>
      <div>
      Gym:
      <% unless current_user.gyms.first == nil %>
      <%= current_user.gyms.first.name %>
      <% end %>
      </div>

    </div>

  </div>


</div>